body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #333;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: #ddd;
}

::-webkit-scrollbar-thumb{
  background: #666;
  height: 65px;
}

.error-message {
  color: #721c24;
  text-align: center;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message {
  color: #23721c;
  text-align: center;
  background-color: #d7f8da;
  border: 1px solid #d1f5c6;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-message {
  color: #0c5460;
  text-align: center;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Colors */

.color-red{
  color: red!important;
}
.color-red-200-hover:hover{
  color: rgb(200, 0, 0)!important;
}

/* HEADER */
.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  z-index: 1000;
}

.header-space-150{
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-space-150-start{
  justify-content: center;
}

.header-space-150-end{
  justify-content: flex-end;
  gap: 1rem;
}

.nav-end-buttons{
  display: flex;
  flex-direction: row;
}

.nav-end-button{
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.85rem;
  cursor: pointer;
}

.nav-end-button:hover {
  color: #aaaaaa;
}

.header-logo{
  height: 55px;
  padding: 5px 0px;
}

.nav {
  width: calc(100% - 300px);
  display: flex;
  height: 40px;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.nav a:hover {
  color: #aaaaaa;
}

/* MAIN CONTENT */
.page-title{
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  padding: 25px 0px;
  border-bottom: solid 1px #333;
  text-align: center;
  background-color: #eee;
}

.content {
  flex-grow: 1;
  background-color: #f4f4f4;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}