.movie-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    padding-top: 30px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.movie-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.movie-poster {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.movie-info {
    flex-grow: 1;
}

.movie-title {
    font-size: 2em;
    color: #333;
}

.movie-info{
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

.movie-description {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
}

.error-message {
    color: red;
    font-size: 1.2em;
}

p {
    margin: 0;
}