.user-main-container{
    max-width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* BALANCE */
.balance-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.balance-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.balance-buttons button:hover {
    background-color: #333;
}

/* SECURITY */
.security-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    gap: 1rem;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.password-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
}

.visibility-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
}

.visibility-icon:hover {
    color: #333;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #555;
}
